<!-- navbar.jinja -->
<nav class="navbar">

  <ul class="navbar-list">

    <li class="navbar-item">
      <button class="fr navbar-link" data-nav-link>{{fr.resu}}</button>
      <button class="en navbar-link" data-nav-link>{{en.resu}}</button>
    </li>

    <li class="navbar-item">
      <button class="fr navbar-link" data-nav-link>{{fr.thes}}</button>
      <button class="en navbar-link" data-nav-link>{{en.thes}}</button>
    </li>

  </ul>

</nav>